* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: rgb(99, 5, 5);
    height: 300px;
    display: flex;
    flex-direction: wrap;
    padding: 40px 100px;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
}

.fa-code {
    margin-bottom: 40px;
}

div img {
    margin-top: 80px;
    margin-right: 40px;
    width: 250px;
    border: 2px solid rgba(206, 241, 4, 0.856);
    border-radius: 15px;
    font-family: 'Concert One', cursive;
}

.about {
    padding: 80px 50px 30px 50px;
    box-shadow: 2px 2px 2px rgb(39, 1, 1, 1);
    border-bottom: 2px solid rgb(8, 12, 1);
}

.skill {
    padding: 40px 50px;
    background: rgb(201, 13, 13);
    color: rgb(252, 247, 247);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.ux {
    margin: 10px;
    width: 250px;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(39, 1, 1, 1);
    color: rgb(170, 89, 19);
}

.web {
    margin: 10px;
    width: 250px;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(39, 1, 1, 1);
    color: rgb(170, 89, 19);
}

.app {
    margin: 10px;
    width: 250px;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(39, 1, 1, 1);
    color: rgb(170, 89, 19);
}

.design {
    margin: 10px;
    width: 250px;
    padding: 20px;
    background: white;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(39, 1, 1, 1);
    color: rgb(170, 89, 19);
}

footer {
    padding-top: 40px;
    min-height: 100px;
    text-align: center;
}

footer a {
    color: rgb(7, 7, 7);
}

@media(max-width:645px) {
    header {
        padding: 3px;
        height: 200px;
    }

    div img {
        margin-left: 10px;
        margin-right: 15px;
        width: 150px;
    }

    .fa-code {
        display: none;
    }

    .about {
        padding: 80px 20px 30px 20px;
    }
    .skill {
        padding: 20px;
        justify-content: center;
    }
    .box {
        justify-content: center; 
    }
    .ux {
        width: 100%;
    }
    
    .web {
        width: 100%;
    }
    
    .app {
        width: 100%;
    }
    
    .design {
        width: 100%;
    }
}